{% extends "dashboard/layout.html" %}

<!--  -->
{% block title %} Dashboard | Konfigurasi Travel {% endblock %}
<!--  -->
{% block content %}
<div class="container">
    <div class="row">
        <h1>Konfigurasi Travel</h1>
    </div>
    <div class="container p-4" style="background-color: white; overflow: auto">
        <div class="row">
            <button
                class="btn btn-primary"
                style="width: fit-content"
                id="add-button"
                data-bs-toggle="modal"
                data-bs-target="#addModal"
            >
                + Tambah Agensi Travel
            </button>
        </div>
        <div class="row mt-3">
            <table class="table table-light">
                <thead class="border text-center" style="font-weight: 600">
                    <tr>
                        <th scope="col" style="width: 60px">No</th>
                        <th scope="col">Logo</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Kontak</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Deskripsi</th>
                        <th scope="col">Website</th>

                        <th scope="col" style="width: 180px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agency in agencies %}
                    <tr>
                        <th scope="row" class="text-center">
                            {{forloop.counter}}
                        </th>
                        <td>
                            <img
                                width="80"
                                src="{{agency.logo.url}}"
                                alt="{{agency.nama}}"
                            />
                        </td>
                        <td>{{agency.nama}}</td>
                        <td>{{agency.kontak}}</td>
                        <td>{{agency.alamat}}</td>
                        <td>{{agency.deskripsi}}</td>
                        <td>{{agency.website}}</td>
                        <td>
                            <div
                                class="d-flex"
                                style="
                                    width: fit-content;
                                    row-gap: 10px;
                                    flex-direction: column;
                                "
                            >
                                {% if agency.user is None %}
                                <button
                                    class="btn btn-warning"
                                    name="assign-button"
                                    data-assign="{{agency.id}}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#assignModal"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-person-fill-add"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"
                                        />
                                        <path
                                            d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"
                                        />
                                    </svg>
                                    Asign
                                </button>
                                {% else %}
                                <a
                                    class="btn btn-warning"
                                    name="assign-button"
                                    href="{% url 'reassign_user' id=agency.id %}"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-person-fill-add"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"
                                        />
                                        <path
                                            d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"
                                        />
                                    </svg>
                                    Re Asign
                                </a>
                                {% endif %}
                                <button
                                    class="btn btn-danger d-flex aligns-center"
                                    name="delete-button"
                                    data-delete="{{agency.id}}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteModal"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="16"
                                        height="16"
                                        fill="currentColor"
                                        class="bi bi-trash"
                                        viewBox="0 0 16 16"
                                    >
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                                        />
                                        <path
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                                        /></svg
                                    >Hapus
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    aria-labelledby="addModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <form
            method="post"
            action="{% url 'add_agency' %}"
            enctype="multipart/form-data"
        >
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">
                        Tambah Agensi Travel
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Nama Agensi Travel</label
                        >
                        <input
                            required
                            type="text"
                            class="form-control"
                            name="nama"
                            id="exampleFormControlInput1"
                            placeholder="XXX Travel"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label"
                            >Kontak Agensi Travel</label
                        >
                        <input
                            required
                            type="text"
                            class="form-control"
                            name="kontak"
                            id="exampleFormControlInput2"
                            placeholder="081xxxxxxx"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label"
                            >Alamat Agensi Travel</label
                        >
                        <input
                            required
                            type="text"
                            class="form-control"
                            name="alamat"
                            id="exampleFormControlInput3"
                            placeholder="Jl. xxxxx"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label"
                            >Deskripsi Agensi Travel (Optional)
                        </label>
                        <textarea
                            class="form-control"
                            id="exampleFormControlTextarea1"
                            rows="3"
                            name="deskripsi"
                        ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label"
                            >Website Agensi Travel (Optional)</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            name="website"
                            id="exampleFormControlInput3"
                            placeholder="xxxx.com"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label"
                            >Logo Agensi Travel</label
                        >
                        <input
                            required
                            class="form-control"
                            type="file"
                            id="formFile"
                            name="logo"
                            accept="image/png, image/gif, image/jpeg"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Batal
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Tambah
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">
                    Hapus Travel
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                Apakah yakin untuk menghapus Travel ini?
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Batal
                </button>
                <a type="button" class="btn btn-danger" id="delete-url"
                    >Hapus</a
                >
            </div>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="assignModal"
    tabindex="-1"
    aria-labelledby="assignModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <form
            class="modal-content"
            method="post"
            action="{% url 'assign_user' %}"
        >
            {% csrf_token %}
            <input type="hidden" name="travel_id" id="form-assign" />
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="assignModalLabel">
                    Asign User Travel
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <label for="user">Pilih user untuk mengelola agensi</label>
                <select
                    class="form-select"
                    aria-label="Default select example"
                    name="user"
                    id="user"
                >
                    <option selected>Buka menu untuk memilih User</option>
                    {% for item in user %}
                    <option value="{{ item.id }}">{{ item.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button
                    type="submit"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Simpan
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
<!--  -->
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var assignButton = document.querySelectorAll("[name='assign-button']");
        assignButton.forEach((button) => {
            button.addEventListener('click', function () {
                var id = this.getAttribute('data-assign');
                var form = document.getElementById('form-assign');
                form.value = id;
            });
        });
        var deleteButtons = document.querySelectorAll("[name='delete-button']");
        deleteButtons.forEach((button) => {
            button.addEventListener('click', function () {
                document
                    .getElementById('delete-url')
                    .setAttribute(
                        'href',
                        '/wisata/agency/delete/' +
                            this.getAttribute('data-delete')
                    );
            });
        });
    });
</script>
{% endblock javascript %}
