{% extends "dashboard/layout.html" %} {% block content %}
<div class="container">
    <div class="row">
        <h1>Feedback</h1>
    </div>
    <div class="container p-4" style="background-color: white">
        <div class="row">
            <table class="table table-light">
                <thead class="border text-center" style="font-weight: 600">
                    <tr>
                        <th scope="col" style="width: 60px">No</th>
                        <th scope="col">Wisata</th>
                        <th scope="col">Text</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in feedback %}
                    <tr class="text-center">
                        <th scope="row" class="text-center">
                            {{forloop.counter}}
                        </th>
                        <td>
                            <img
                                width="200"
                                src="{{item.wisata.gambar_utama.url}}"
                                alt=""
                            />
                        </td>
                        <td>{{item.text}}</td>
                        <td class="text-center">{{item.rating}}</td>
                        <td>{{item.tanggal|date:'Y M d'}}</td>

                        <td>{{item.user}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
