{% extends "dashboard/layout.html" %}
<!--  -->
{% block title %} Dashboard | Report {% endblock %}
<!--  -->
{% block content %}
<div class="container">
    <div class="row">
        <h1>Report Wisata</h1>
    </div>
    <div class="container p-4" style="background-color: white">
        {% if request.user.is_staff and request.user.is_superuser == False %}
        <div class="row">
            <button
                class="btn btn-primary"
                style="width: fit-content"
                id="add-button"
                data-bs-toggle="modal"
                data-bs-target="#addModal"
            >
                + Tambah Report
            </button>
            {% endif %}
        </div>
        {% if request.user.is_superuser %}
        <div class="row mt-5 w-100">
            <canvas id="myChart"></canvas>
        </div>
        {% endif %}
        <div class="row mt-3 container p-3">
            <table class="table table-light">
                <thead class="border text-center" style="font-weight: 600">
                    <tr>
                        <th scope="col" style="width: 60px">No</th>
                        <th scope="col">Nama Wisata</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col" style="width: 180px">Tanggal</th>
                        <th scope="col" style="width: 80px">
                            {% if request.user.is_staff %}
                            <!--  -->
                            {% if request.user.is_superuser == 0 %} action
                            {%endif%} {%endif%}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in report %}
                    <tr class="text-center">
                        <th scope="row" class="text-center">
                            {{forloop.counter}}
                        </th>
                        <td>{{report.wisata.nama}}</td>
                        <td>{{report.kunjungan}}</td>
                        <td>{{report.tanggal}}</td>
                        <td class="text-center">
                            {% if request.user.is_staff %}
                            <!--  -->
                            {% if request.user.is_superuser == 0 %}

                            <button
                                class="btn btn-primary d-flex aligns-center"
                                style="height: 2.4rem"
                                name="edit-button"
                                data-edit="{{ report.id }}"
                                data-bs-toggle="modal"
                                data-bs-target="#editModal"
                            >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="16"
                                    height="16"
                                    fill="currentColor"
                                    class="bi bi-pencil"
                                    viewBox="0 0 16 16"
                                >
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
                                    />
                                </svg>
                            </button>
                            {% endif %} {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <form id="form-edit" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalLabel">
                        Edit Report
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nama-edit" class="form-label"
                            >Jumlah Kunjungan</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            name="kunjungan"
                            id="nama-edit"
                            placeholder="100"
                            pattern="[0-9]+"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Batal
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Simpan
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div
    class="modal fade"
    id="addModal"
    tabindex="-1"
    aria-labelledby="addModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <form method="post" action="{% url 'add_report' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">
                        Tambah Report Harian
                    </h1>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"
                            >Pilih Wisata</label
                        >
                        <select
                            class="form-select"
                            aria-label="Default select example"
                            name="wisata"
                        >
                            <option selected>
                                Buka menu untuk memilih wisata
                            </option>
                            {% for item in wisata %}
                            <option value="{{ item.id }}">
                                {{ item.nama }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Kunjungan" class="form-label"
                            >Jumlah Pengunjung
                        </label>
                        <input
                            required
                            type="text"
                            class="form-control"
                            name="kunjungan"
                            id="Kunjungan"
                            pattern="[0-9]+"
                            placeholder="100"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="tanggal" class="form-label">Tanggal </label>
                        <input
                            required
                            type="date"
                            class="form-control"
                            name="tanggal"
                            id="tanggal"
                        />
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Batal
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Tambah
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    aria-labelledby="deleteModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">
                    Hapus Kategori
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">Apakah yakin untuk menghapus kategori?</div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Batal
                </button>
                <a type="button" class="btn btn-danger" id="delete-url"
                    >Hapus</a
                >
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block javascript %}
<script>
    const ctx = document.getElementById('myChart');
    var labels = [];
    var datas = []

    var editButtons = document.querySelectorAll("[name='edit-button']");
    editButtons.forEach((button) => {
        button.addEventListener('click', function () {
        document.getElementById('form-edit').setAttribute('action','/wisata/edit/report/' + this.getAttribute('data-edit'));
        })
    })

    {% for item in analytic %}
      labels.push("{{item.wisata}}")
      datas.push({{item.dcount  }})
    {% endfor %}

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: labels,
        datasets: [
        {
          label: 'Analisis Kunjungan Wisata',
          data: datas,
          borderWidth: 1
        }
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    document.addEventListener('DOMContentLoaded', () => {
        var deleteButtons = document.querySelectorAll("[name='delete-button']");

        deleteButtons.forEach((button) => {
            button.addEventListener('click', function () {
                document
                    .getElementById('delete-url')
                    .setAttribute(
                        'href',
                        '/wisata/kategori/delete/' +
                            this.getAttribute('data-delete')
                    );
            });
        });
    });
</script>
{% endblock javascript %}
