{% extends "dashboard/layout.html" %}
<!--  -->
{% block title %} Dashboard | Reservasi Wisata {% endblock %}
<!--  -->
{% block content %}
<div class="container">
    <div class="row">
        <h1>Feedback</h1>
    </div>
    <div class="container p-4" style="background-color: white">
        <div class="row">
            <table class="table table-light">
                <thead class="border text-center" style="font-weight: 600">
                    <tr>
                        <th scope="col" style="width: 60px">No</th>
                        <th scope="col">Wisata</th>
                        <th scope="col">Atas Nama</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">No Wa</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">User</th>
                        <th scope="col">Bukti Transfer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in reservasi %}
                    <tr class="text-center">
                        <th scope="row" class="text-center">
                            {{forloop.counter}}
                        </th>
                        <td>
                            <img
                                width="200"
                                src="{{item.wisata.gambar_utama.url}}"
                                alt=""
                            />
                        </td>
                        <td class="text-center">{{item.nama}}</td>
                        <td>{{item.jumlah}}</td>
                        <td class="text-center">{{item.no_wa}}</td>
                        <td>{{item.hari|date:'Y M d'}}</td>
                        <td>{{item.user.first_name}}</td>
                        <td>
                            {% if item.pembayaran %}
                            <img
                                width="200"
                                src="{{item.pembayaran.url}}"
                                alt=""
                            />
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
